nav {
  background-color: #eee9e9;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
main {
  max-width: 840px;
}
main>h1 {
  text-align: center;
}
main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}
aside img {
  width: 200px;
  height: auto;
}
main img {
  width: 150px;
  height: auto;
}
p {
  padding: 0;
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
